<div class="alert alert-info">
  <h5 class="card-title mb-0 text-center"><u>Current Customer Bill</u></h5>
  <style type="text/css">
    table,
    tr,
    th,
    td {
      color: black;
    }
  </style>
  <table>
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for bill_entry in bill_entries %}
      <tr>
        <td>{{ bill_entry.item_name }}</td>
        <td class="text-center">
          <input id="pr_{{ bill_entry.stock_id }}" type="number" value="{{ helper.format_number(bill_entry.price) }}"
            onchange="UpdateBillEntry({{ bill_entry.stock_id }});" min="0" />

        </td>
        <td class="text-center">
          <input id="qt_{{ bill_entry.stock_id }}" type="number" value="{{ helper.format_number(bill_entry.qty) }}"
            onchange="UpdateBillEntry({{ bill_entry.stock_id }});" min="0" />
          <input id="oqt_{{ bill_entry.stock_id }}" type="hidden" value="{{ helper.format_number(bill_entry.qty) }}" />
        </td>
        <td class="text-right" id="st_{{ bill_entry.stock_id }}">{{ helper.format_number(bill_entry.price * bill_entry.qty) }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <hr />
        </td>
      </tr>
      <tr>
        <th scope="col" colspan="3" class="text-center">Total:</th>
        <th scope="col" class="text-right" id="grand_total">{{ helper.format_number(grandtotal) }}</th>
      </tr>
    </tfoot>
  </table>
  {% if grandtotal>0 %}
  <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Clear All</button>
  <button class="btn btn-success btn-sm float-end text-white" data-toggle="modal" data-target="#newModal"
    onclick="updateBillAmount();">Submit</button>
  {% endif %}