<style>
    #table_bill_details table,
    #table_bill_details thead,
    #table_bill_details tbody,
    #table_bill_details tr,
    #table_bill_details td,
    #table_bill_details th {
        color: black;
    }
</style>
<div id="selected-items" class="box-body row text-left">
    <table id="table_bill_details" margin="1%" width="99%" class="table table-condensed" style="color: black;">
        <thead>
            <tr>
                <th width="50%"><small>ITEM</small></th>
                <th width="10%"><small>QTY</small></th>
                <th width="20%"><small>PRICE</small></th>
                <th width="20%" class="text-right"><small>TTL</small></th>
            </tr>
        </thead>
        <tbody>
            {% for bill_entry in bill_entries %}
            <tr>
                <td width="50%"><small class="text-black">{{ bill_entry.item_name }}</small></td>
                <td width="10%"><small class="text-black">{{ bill_entry.qty }}</small></td>
                <td width="20%"><small class="text-black">{{ bill_entry.price }}</small></td>
                <td width="20%" class="text-right"><small class="text-black">{{ bill_entry.qty*bill_entry.price
                        }}</small></td>
            </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <td colspan="2"><b><small>TOTAL PAYABLE</small></b></td>
                <td colspan="2" class="text-right"><small><b><u>{{ bill.total }}</u></b></small></td>
            </tr>
            <tr>
                <td colspan="2"><b><small>TOTAL PAID</small></b></td>
                <td colspan="2" class="text-right"><small><b>{{ bill.paid }}</b></small></td>
            </tr>
            <tr>
                <td colspan="2"><b><small>BALANCE</small></b></td>
                <td colspan="2" class="text-right"><small><b><u>{{ bill.total - bill.paid }}</u></b></small></td>
            </tr>
        </thead>

        {% if bill.paid > 0 %}
        <thead>
            <tr>
                <th class="text-center" colspan="4"><small>Payment Details</small></th>
            </tr>
            <tr>
                <th colspan="2"><small>DATETIME</small></th>
                <th><small>MODE</small></th>
                <th class="text-right"><small>AMOUNT</small></th>
            </tr>
        </thead>
        <tbody style="color: black;">
            {% for payment in bill.payments %}
            <tr style="color: black;">
                <td colspan="2"><small>{{ payment.created_at }}</small></td>
                <td><small>{{ payment.payment_mode.name }}</small></td>
                <td class="text-right"><small>{{ payment.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}

        {% if show_vat == 1 and bill.paid > 0 %}
        <thead>
            <tr>
                <td colspan="2"><b><small>VATABLE AMOUNT</small></b></td>
                <td colspan="2" class="text-right"><small>{{'%0.2f' % (bill.total / 1.16)|float}}</small></td>
            </tr>
            <tr>
                <td colspan="2"><b><small>VAT @ 16%</small></b></td>
                <td colspan="2" class="text-right"><small>{{'%0.2f' % (0.16 * bill.total / 1.16)|float}}</small></td>
            </tr>
        </thead>
        {% endif %}
    </table>
</div>