{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive row">
    <!-- dash -->
    <div class="row col-8" id="stock_entries">
        <div class="card-body">
            <form id="filter-frm" method="GET" class="row">
                <input type="hidden" id="page" name="page" value="{{ page }}" />
                <div class="col-{{'4' if user_agent.is_mobile else '6' }}">
                    <input onchange="applyFilter(1)" style="width: 100%; height: 25px" type="text" id="search"
                        name="search" value="{{ search }}" placeholder="Search Item" autofocus
                        onfocus="this.value = this.value;" /><br />
                </div>
                <div class="col-{{'4' if user_agent.is_mobile else '3' }}">
                    <select onchange="applyFilter(1)" name="category_id" id="category_id" style="width: 100%;">
                        <option value="0">Filter by Category</option>
                        {% for product_category in product_categories %}
                        <option value="{{ product_category.id }}" {% if product_category.id==category_id %} selected {%
                            endif %}>{{ product_category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-{{'3' if user_agent.is_mobile else '2' }} text-right">
                    <label for="in_stock" style="color: lime;">Filter In Stock Only</label>&nbsp; &nbsp;
                </div>
                <div class="col-1">
                    <input onchange="applyFilter(1)" class="form-check-input" type="checkbox" id="in_stock"
                        name="in_stock" value="1" {{ 'checked' if in_stock==1 else '' }} />
                </div>
            </form><br />

            <!-- Products-->
            {% for stock in stocks %}
            <button type="button" style="margin-top: 12px; margin-right: 12px"
                class="btn btn-outline-{{ 'success' if (stock.opening+stock.additions) >= 10 else 'warning' if (stock.opening+stock.additions) > 0 else 'danger' }} {{ '' if (stock.opening+stock.additions) > 0 else 'disabled' }}"
                id="product_{{ stock.id }}" name="{{ stock.name}}"
                value="{{ helper.format_number_with_commas(helper.format_number(stock.selling_price)) }}"
                onclick="AddBillEntry({{ stock.id }})">
                <small class="font-light">KSh. {{
                    helper.format_number_with_commas(helper.format_number(stock.selling_price)) }}/= </small>
                <h6 class="mb-0 mt-1"> {{ stock.name}} </h6>
                <small class="font-light">[<span id="stock_{{ stock.id }}">{{
                        helper.format_number_with_commas(helper.format_number(stock.opening + stock.additions -
                        stock.sold)) }}
                    </span> in stock]</small>
                <span id="stocko_{{ stock.id }}" style="display: none">{{
                    helper.format_number_with_commas(helper.format_number(stock.opening+stock.additions)) }}</span>
            </button>
            {% endfor %}
            <!-- End Products-->
        </div>
        <!-- End -->
        <!--Pagination-->
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-4 text-center">
                <nav aria-label="Page navigation example" class="text-center">
                    <ul class="pagination" class="text-center">
                        <li class="page-item {{ '' if prev_page > 0 else 'disabled' }}">
                            <button class="page-link" id="prev_page"
                                onclick="applyFilter({{ prev_page }})">Previous</button>
                        </li>
                        <li class="page-item {{ '' if next_page > 0 else 'disabled' }}">
                            <button class="page-link" id="next_page"
                                onclick="applyFilter({{ next_page }})">Next</button>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- End Pagination-->
    </div>

    <!-- bill entries -->
    <div class="col-{{'12' if user_agent.is_mobile else '4' }}">
        <div class="col-12">
            <select name="temp_customer_id" id="temp_customer_id" style="width: 100%;" class="text-center">
                <option value="0">----- Select Customer -----</option>
                {% for customer in customers %}
                <option value="{{ customer.id }}">{{ customer.name }} - {{ customer.phone }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="temp_bill" class="col-12">
            {% include 'pos/bill-entries.html' %}
        </div>
    </div>
    <!-- end bill entries -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->


<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="category_id_new" name="category_id_new" />
                <input type="hidden" id="customer_id" name="customer_id" />
                <div class="modal-header text-center">
                    <h5 class="text-center">Submit Customer Bill & Receive Payment</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h5 class="text-center">Total Bill Amount: <b id="bill_amount"></b></h5>
                            <select name="payment_mode_id" id="payment_mode_id" style="width: 100%;">
                                {% for payment_mode in payment_modes %}
                                <option value="{{ payment_mode.id }}">{{ payment_mode.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="hidden" name="total_bill_amount" id="total_bill_amount" />
                            <input onkeyup="DiplayBalance()" type="number" name="amount_paid" id="amount_paid" min="0"
                                required class="form-control input-sm" placeholder="Enter Amount Paid" />
                        </div>
                    </div>
                    <span id="display_balance"></span>
                </div>
                <div class="modal-footer row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-check-input" type="checkbox" id="show_vat" name="show_vat" value="1"
                            checked />&nbsp; Show VAT on Receipt
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="submit" id="submit_bill" name="action" value="submit_bill"
                            class="btn btn-success">Save & Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you Sure You want to Clear this Customer Bill?
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div style="color: black" class="modal-body">Select "Confirm Clear" below if you want to Clear this
                    Customer Bill without Saving.
                    <p style="color: red">This action is not reversible!!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
                    <button id="submit_clear_temp_bill" name="action" value="clear"
                        class="btn btn-danger float-end">Confirm Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#search").focus(function () {
            if (this.setSelectionRange) {
                var len = $(this).val().length;
                this.setSelectionRange(len, len);
            } else {
                $(this).val($(this).val());
            }

        });
        $("#search").focus();
    });

    function applyFilter(page) {
        $("#page").val(page);
        $("#filter-frm").submit();
    }

    function AddBillEntry(id) {
        let product = document.getElementById("product_" + id);
        let stock = document.getElementById("stock_" + id);
        let name = product.name;
        let price = product.value;
        let inStock = parseFloat(stock.innerHTML);
        let oQty = document.getElementById("qt_" + id) ? parseFloat(document.getElementById("qt_" + id).value) : 0;
        let qty = oQty + 1;

        if (inStock > 0) {
            submitTempBill(id, name, price, qty, true);
        } else {
            toastr.error("Sorry!<br />Product Not in Stock");
        }
    }

    function UpdateBillEntry(id) {
        let price = parseFloat(document.getElementById("pr_" + id).value);
        let qty = parseFloat(document.getElementById("qt_" + id).value);
        let inStock = parseFloat($("#stocko_" + id).html());
        if (qty > inStock) {
            toastr.error("Sorry!<br />Product Not in Stock. The maximum you can sell is " + inStock);
            qty = inStock
        }
        submitTempBill(id, name, price, qty, true);
    }

    function submitTempBill(id, name, price, qty, refresh) {
        $.ajax({
            type: 'post',
            url: '{{ url_for('posBillEntriesUpdate') }}',
            data: {
                stock_id: id,
                bill_id: 0,
                item_name: name,
                price: price,
                qty: qty,
                action: 'add'
            },
            success: function (data) {
                let inStock = parseFloat(document.getElementById("stocko_" + id).innerHTML);
                document.getElementById("stock_" + id).innerHTML = inStock - qty;
                if (refresh)
                    refreshBillEntries();
            }
        });
    }

    function refreshBillEntries() {
        $.ajax({
            type: 'get',
            url: '{{ url_for('posBillEntries') }}',
            success: function (data) {
                document.getElementById("temp_bill").innerHTML = data;
            }
        });
    }

    function updateBillAmount() {
        let amt = document.getElementById("grand_total").innerHTML;
        document.getElementById("bill_amount").innerHTML = amt;
        document.getElementById("total_bill_amount").value = amt.replaceAll(',', '');
        document.getElementById("amount_paid").value = amt.replaceAll(',', '');
        $("#customer_id").val($("#temp_customer_id").val());
    }

    function DiplayBalance() {
        let total_bill_amount = parseFloat($("#total_bill_amount").val());
        let amount_paid = parseFloat($("#amount_paid").val());
        let bal = total_bill_amount - amount_paid
        display = bal < 0 ? '<b style="color: green">EXCESS: ' + Math.abs(bal) + '<b/>' : bal > 0 ? '<b style="color: red">BALANCE: ' + Math.abs(bal) + '<b/>' : '';
        $("#display_balance").html(display)
    }

    function Print(id) {
        var show_vat = document.getElementById('show_vat').checked ? 1 : 0;
        var win = window.open("{{ url_for('posPrint') }}?show_vat=" + show_vat + "&bill_id=" + id, "_blank", "scrollbars=yes,resizable=yes,top=200,left=500,width=400,height=500");
        var document_focus = false;
        $(document).ready(function () {
            win.window.print();
            document_focus = true;
        });
        setInterval(function () {
            if (document_focus === true) {
                win.window.close();
            }
        }, 10000);
    }

    {% if bill_id > 0 %}
    Print({{ bill_id }});
    {% endif %}

</script>

{% endblock %}