{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive">
    <form id="filter-frm" method="GET" class="row">
        <div class="col-7">
            <input onchange="applyFilter()" style="height: 25px" type="text" id="search" name="search" value="{{ search }}" placeholder="Search Item" autofocus
                onfocus="this.value = this.value;" />
        </div>
        <div class="col-5">
            <select onchange="applyFilter()" name="category_id" id="category_id" style="width: 100%;">
                <option value="0">Filter by Category</option>
                {% for product_category in product_categories %}
                <option value="{{ product_category.id }}" {% if product_category.id == category_id %} selected {% endif %}>{{ product_category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form><br />
    <table class="table-bordered table-striped">
        <thead>
           <tr>
               <th>PRODUCT</th>
               <th>CATEGORY</th>
               <th class="text-center">YESTERDAY OPENING</th>
               <th class="text-center">SOLD YESTERDAY</th>
               <th class="text-center">TODAY OPENING</th>
               <th class="text-center">TODAY PURCHASES</th>
               <th class="text-center">TODAY TOTAL</th>
               <th class="text-center">ACTUAL STOCK</th>
           </tr>
       </thead>
        <tbody>
            {% for stock in stocks %}
            {% set sold = stock.yesterday_opening+stock.yesterday_additions-stock.opening %}
            <style>
                input {
                    width: 100%;
                }
            </style>
            <tr>                 
                <td id="name_{{ stock.id }}">{{ stock.name }}</td> 
                <td id="category_{{ stock.id }}">{{ stock.category_name }}</td> 
                <td class="text-center" id="yesterday_{{ stock.id }}">{{ helper.format_number(stock.yesterday_opening+stock.yesterday_additions) }}</td> 
                <td class="text-center">{{ helper.format_number(sold) if sold>=0 else '' }}</td>            
                <td class="text-center" id="opening_{{ stock.id }}">{{ helper.format_number(stock.opening) }}</td>        
                <td class="text-center" id="additions_{{ stock.id }}">{{ helper.format_number(stock.additions) }}</td> 
                <td class="text-center" id="total_{{ stock.id }}">{{ helper.format_number(stock.opening + stock.additions) }}</td> 
                <td class="text-center">
                    <input 
                        type="number" 
                        id="actual_{{ stock.id }}" 
                        name="actual_{{ stock.id }}" 
                        value="{{ helper.format_number(stock.opening + stock.additions) }}" 
                        onchange="updateTotal({{ stock.id }});"
                        min="0"
                        {% if current_user.user_level.id == 3 %} disabled {% endif %}
                        />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

<script>
    $(document).ready(function () {
        $("#search").focus(function () {
            if (this.setSelectionRange)
            {
                var len = $(this).val().length;
                this.setSelectionRange(len, len);
            } else
            {
                $(this).val($(this).val());
            }

        });
        $("#search").focus();
    });
    function applyFilter() {
        $("#filter-frm").submit();
    }

    function updateTotal(id) {
        let name = $("#name_" + id).html();
        let yesterday = parseFloat($("#yesterday_" + id).html());
        let sold = parseFloat($("#sold_" + id).html());
        let additions = parseFloat($("#additions_" + id).html());
        let actual = parseFloat($("#actual_" + id).val());
        let opening = actual-additions;
        if (opening < 0) {
            opening = 0;
            additions = actual;
        }
        let total = opening + additions;
        $.ajax({
            type: 'post',
            url: '{{ url_for('inventoryStockAdjustmentUpdate') }}',
            data: {
                id: id,
                opening: opening,
                additions: additions,
                action: 'update'
            },
            success: function (data) {
                toastr.success("Updated " + name);
                $("#opening_" + id).html(opening);
                $("#additions_" + id).html(additions);
                $("#total_" + id).html(total);
            }
        });
    }
</script>

{% endblock %}