{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive">
    <form id="filter-frm" method="GET" class="row">
        <div class="col-4">
            <input onchange="applyFilter2()" style="height: 25px" type="date" id="stock_date" name="stock_date" max="{{ current_date }}" required="required" value="{{ stock_date }}" />
        </div>
        <div class="col-4">
            <input onkeyup="applyFilter()" style="height: 25px" type="text" id="search" name="search"
                required="required" value="{{ search }}" placeholder="Search Item" autofocus
                onfocus="this.value = this.value;" />
        </div>
        <div class="col-4">
            <select onchange="applyFilter2()" name="category_id" id="category_id" style="width: 100%;">
                <option value="0">Filter by Category</option>
                {% for product_category in product_categories %}
                <option value="{{ product_category.id }}" {% if product_category.id == category_id %} selected {% endif %}>{{ product_category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form><br />
    <table class="table-bordered table-striped">
        <thead>
           <tr>
               <th>PRODUCT</th>
               <th>CATEGORY</th>
               <th class="text-center">YESTERDAY OPENING</th>
               <th class="text-center">SOLD YESTERDAY</th>
               <th class="text-center">TODAY OPENING</th>
               <th class="text-center">TODAY PURCHASES</th>
               <th class="text-center">TODAY TOTAL</th>
               <th class="text-center">SOLD</th>
               <th class="text-center">REMAINING</th>
           </tr>
       </thead>
        <tbody>
            {% for stock in stocks %}
            <style>
                input {
                    width: 100%;
                }
            </style>
            <tr>                 
                <td id="name_{{ stock.id }}">{{ stock.name }}</td> 
                <td id="category_{{ stock.id }}">{{ stock.category_name }}</td> 
                <td class="text-center" id="yesterday_{{ stock.id }}">{{ stock.yesterday }}</td> 
                <td class="text-center">{{ stock.yesterday-stock.opening }}</td> 
                <td class="text-center">
                    <input 
                        type="hidden" 
                        id="opening_old_{{ stock.id }}" 
                        name="opening_old_{{ stock.id }}" 
                        value="{{ stock.opening }}" 
                        />
                    <input 
                        type="number" 
                        id="opening_{{ stock.id }}" 
                        name="opening_{{ stock.id }}" 
                        value="{{ stock.opening }}" 
                        onchange="updateTotal({{ stock.id }});"
                        min="0"
                        />
                </td>                                         
                <td class="text-center">
                    <input 
                        type="number" 
                        id="additions_{{ stock.id }}" 
                        name="additions_{{ stock.id }}" 
                        value="{{ stock.additions }}" 
                        onchange="updateTotal({{ stock.id }});"
                        min="0"
                        {% if current_user.user_level.id == 3 %} disabled {% endif %}
                        />
                </td>
                <td class="text-center" id="total_{{ stock.id }}">{{ stock.opening + stock.additions }}</td> 
                <td class="text-center" id="sold_{{ stock.id }}">{{ stock.sold }}</td> 
                <td class="text-center" id="tomorrow_{{ stock.id }}">{{ stock.opening - stock.sold }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

<script>
    $(document).ready(function () {
        $("#search").focus(function () {
            if (this.setSelectionRange)
            {
                var len = $(this).val().length;
                this.setSelectionRange(len, len);
            } else
            {
                $(this).val($(this).val());
            }

        });
        $("#search").focus();
    });
    function applyFilter() {
        if ($("#search").val().length > 3)
            $("#filter-frm").submit();
    }
    function applyFilter2() {
        $("#filter-frm").submit();
    }

    function updateTotal(id) {
        let name = $("#name_" + id).html();
        let yesterday = parseFloat($("#yesterday_" + id).html());
        let sold = parseFloat($("#sold_" + id).html());
        let opening_old = parseFloat($("#opening_old_" + id).val());
        let opening = parseFloat($("#opening_" + id).val());
        let additions = parseFloat($("#additions_" + id).val());
        if (opening > yesterday) {
            toastr.error("Opening stock cannot be more than yesterday's closing stock.\nAdded Stock has been set as purchases");
            additions = opening - opening_old + additions;
            $("#additions_" + id).val(additions);
            opening = opening_old;
            $("#opening_" + id).val(opening_old);
        }
        let total = opening + additions;
        let tomorrow = opening+additions-sold;
        $.ajax({
            type: 'post',
            url: '{{ url_for('inventoryStockTakeUpdate') }}',
            data: {
                id: id,
                opening: opening,
                additions: additions,
                action: 'update'
            },
            success: function (data) {
                toastr.success("Updated " + name);
                $("#opening_old_" + id).html(opening);
                $("#total_" + id).html(total);
                $("#tomorrow_" + id).html(tomorrow);
            }
        });
    }
</script>

{% endblock %}