{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive">
    <table class="table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th class="text-center">NAME</th>
                <th class="text-center">LOCATION</th>
                <th class="text-center">SHOP TYPE</th>
                <th class="text-center">PHONE I</th>
                <th class="text-center">PHONE II</th>
                <th class="text-center">PAYBILL</th>
                <th class="text-center">ACCOUNT NO.</th>
                <th class="text-center">TILL NO.</th>
                <th colspan="2" class="text-center">
                    <a href="#" class="btn btn-xs btn-primary btn-flat" style="width: 100%" data-toggle="modal"
                        data-target="#newModal">Add New Shop</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
            <tr>
                <td>
                    <form method="POST">
                        <input id="name_{{ shop.id }}" name="name" type="hidden" value="{{ shop.name }}" />
                        <input name="shop_id" type="hidden" value="{{ shop.id }}" />
                        {% if shop.id != current_user.shop.id %}
                        <button type="submit" name="action" value="switch" style="width: 100%"
                            class=" btn-flat btn-xs btn-warning">{{ shop.name }} <br/>(Click to Login)</button>
                        {% else %}
                        {{ shop.name }}
                        {% endif %}
                    </form>
                </td>
                <td id="location_{{ shop.id }}">{{ shop.location }}</td>
                <td>{{ shop.shop_type.name }}</td>
                <input id="shop_type_{{ shop.id }}" type="hidden" value="{{ shop.shop_type.id }}" />
                <td id="phone_1_{{ shop.id }}">{{ shop.phone_1 }}</td>
                <td id="phone_2_{{ shop.id }}">{{ shop.phone_2 }}</td>
                <td id="paybill_{{ shop.id }}">{{ shop.paybill }}</td>
                <td id="account_no_{{ shop.id }}">{{ shop.account_no }}</td>
                <td id="till_no_{{ shop.id }}">{{ shop.till_no }}</td>
                <td class="text-center">
                    <a href="#" onclick="editShop({{ shop.id }})" data-toggle="modal" data-target="#newModal">
                        <i class="mdi mdi-border-color" style="color: blue" title="Edit Shop"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="deleteItem({{ shop.id }})" data-toggle="modal" data-target="#deleteModal">
                        <i class="mdi mdi-delete" style="color: red" title="Delete Shop"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->


<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="shop_id" name="shop_id" />
                <div class="modal-header text-center">
                    <h5 class="text-center">Capture Shop Details</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input required="required" type="text" name="name" id="name" class="form-control input-sm"
                                placeholder="Enter Shop Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input required="required" type="text" name="location" id="location"
                                class="form-control input-sm" placeholder="Enter Shop Location">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <select required="required" name="shop_type_id" id="shop_type_id"
                                class="form-control input-sm">
                                <option disabled>Select Shop Type</option>
                                {% for shop_type in shop_types %}
                                <option value="{{ shop_type.id }}">{{ shop_type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="number" name="phone_1" id="phone_1" min="100000000" max="999999999"
                                class="form-control input-sm" placeholder="Enter Shop Phone I">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="number" name="phone_2" id="phone_2" min="100000000" max="999999999"
                                class="form-control input-sm" placeholder="Enter Shop Phone II">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="number" name="paybill" id="paybill" class="form-control input-sm"
                                placeholder="Enter Shop Paybill No">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" name="account_no" id="account_no" class="form-control input-sm"
                                placeholder="Enter Shop Paybill Account No">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="number" name="till_no" id="till_no" class="form-control input-sm"
                                placeholder="Enter Shop MPESA Till No">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="submit_shop_details" name="action" value="add"
                        class="btn btn-success">Save Shop</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <input type="hidden" id="item_id" name="shop_id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you Sure You want to Delete this Shop?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div style="color: black" class="modal-body">Select "Confirm Delete" below if you want to delete this
                    Shop from the System.
                    <p style="color: red">This action is not reversible!!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
                    <button id="submit_delete_item" name="action" value="delete"
                        class="btn btn-danger float-end">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    {% if toastr_message %}
    toastr.success('{{ toastr_message }}');
    {% endif %}

    function editShop(id) {
        $('#shop_id').val(id);
        $('#name').val($('#name_' + id).val());
        $('#location').val($('#location_' + id).html());
        $('#shop_type_id').val($('#shop_type_' + id).val());
        $('#phone_1').val($('#phone_1_' + id).html());
        $('#phone_2').val($('#phone_2_' + id).html());
        $('#paybill').val($('#paybill_' + id).html());
        $('#account_no').val($('#account_no_' + id).html());
        $('#till_no').val($('#till_no_' + id).html());
        $('#submit_shop_details').val('update');
    }

    function deleteItem(id) {
        document.getElementById("item_id").value = id;
    }

</script>

{% endblock %}