{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid table-responsive row">
    <div class="col-12">
        <table class="table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>ATTACHED SHOP</th>
                    <th>ROLE</th>
                    <th class="text-center" colspan="3">
                        <a href="#" class="btn btn-xs btn-primary btn-flat" style="width: 75%" data-toggle="modal"
                            data-target="#newModal">Add New User</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr title="{{ user.user_level.description }}">
                    <td>{{ user.name }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.shop.name }}</td>
                    <td>{{ user.user_level.name }}</td>
                    <td class="text-center">
                        <a href="#" onclick="resetPassword('{{ user.phone }}')" data-toggle="modal"
                            data-target="#resetModal" {{ 'disabled' if user.user_level.id < current_user.user_level.id }}>
                            <i class="mdi mdi-lock-open" style="color: orange"
                                title="Reset {{ user.name }} Password"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#"
                            onclick="editUser({{ user.id }}, '{{ user.name }}', '{{ user.phone }}', '{{ user.shop.name }}', '{{ user.user_level.name }}')"
                            data-toggle="modal" data-target="#newModal" {{ 'disabled' if user.user_level.id <
                            current_user.user_level.id }}><i class="mdi mdi-border-color"
                                title="Edit {{ user.name }}"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="#" onclick="deleteItem({{ user.id }})" data-toggle="modal" data-target="#deleteModal"
                            {{ 'disabled' if user.user_level.id < current_user.user_level.id }}>
                            <i class="mdi mdi-delete" style="color: red" title="Delete {{ user.name }}"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12"><br /><br />
        <h1 class="border-top border-secondary"></h1><br />
        <h5 class="text-white "><u>User Roles Explained</u></h5>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>ROLE ID</th>
                    <th>ROLE NAME</th>
                    <th>MODULES & PERMISSIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for user_level in user_levels %}
                <tr>
                    <td>{{ user_level.id }}</td>
                    <td>{{ user_level.name }}</td>
                    <td>{{ user_level.description | safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="form-horizontal">
                <input type="hidden" id="edit_id" name="id" />
                <div class="modal-header text-center">
                    <h5 class="text-center"><b id="user_header">Add New</b> System User in This Company</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input required="required" type="text" name="name" id="edit_name"
                                class="form-control input-sm" placeholder="Enter User Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input required="required" type="number" name="phone" id="edit_phone" min="100000000"
                                max="999999999" class="form-control input-sm" placeholder="Enter User Phone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" name="password" id="edit_password" class="form-control input-sm"
                                placeholder="Default Password will be same as Phone No." disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label name="shop_id">Attached Shop: <label>
                        </div>
                        <div class="col-sm-6">
                            <select name="shop_id" id="edit_shop" style="width: 100%;">
                                {% for company_shop in company_shops %}
                                <option value="{{ company_shop.id }}">{{ company_shop.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label name="user_level">User Level: <label>
                        </div>
                        <div class="col-sm-6">
                            <select name="user_level_id" id="edit_user_level" style="width: 100%;">
                                {% for user_level in user_levels %}
                                <option value="{{ user_level.id }}" {{ 'disabled' if user_level.id <
                                    current_user.user_level.id }}>{{ user_level.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="action" name="action" value="add" class="btn btn-success">Save
                        User</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <input type="hidden" id="reset_u_phone" name="phone" />
                <div class="modal-header">
                    <h5 class="modal-title" id="resetModalLabel">Are you Sure You want to Reset this User Password?
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div style="color: black" class="modal-body">Select "Confirm Reset Password" below if you want to reset
                    this User Password to default - Same as Phone Number.
                    <p style="color: red">This action is not reversible!!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    <button id="submit_reset_password" name="action" value="reset_password"
                        class="btn btn-primary float-end">Confirm Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <input type="hidden" id="item_id" name="id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you Sure You want to Delete this User?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div style="color: black" class="modal-body">Select "Confirm Delete" below if you want to delete this
                    User from the System.
                    <p style="color: red">This action is not reversible!!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
                    <button id="submit_delete_item" name="action" value="delete"
                        class="btn btn-danger float-end">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    if ($toastr_message)
        toastr.success($toastr_message);
    if ($toastr_err_message)
        toastr.error($toastr_err_message);



    function addNewUser() {
        $("#user_header").html('Add New');
        $("#edit_name").val('');
        $("#edit_category_name").val(0);
        $("#action").val('add');
    }

    function editUser(id, name, phone, shop_name, user_level_name) {
        $("#user_header").html('Edit');
        $("#edit_id").val(id);
        $("#edit_name").val(name);
        $("#edit_phone").val(phone);
        $('#edit_shop option').filter(function () {
            return $(this).text() === shop_name;
        }).prop('selected', true);
        $('#edit_user_level option').filter(function () {
            return $(this).text() === user_level_name;
        }).prop('selected', true);
        $("#action").val('edit');
    }

    function deleteItem(id) {
        document.getElementById("item_id").value = id;
    }

    function resetPassword(phone) {
        document.getElementById("reset_u_phone").value = phone;
    }
</script>

{% endblock %}