<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<style>
    .active_page {
        background-color: dodgerblue;
    }
</style>
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                {% if current_user.license.is_valid %}
                {% if current_user.user_level.id in [0, 1] %}
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('dashboard') }}"
                        aria-expanded="false"><i class="mdi mdi-apps"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                {% endif %}
                {% if current_user.user_level.id in [0, 1, 2, 3] %}
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="mdi mdi-gift"></i><span class="hide-menu">Stock </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ url_for('stockTake') }}" class="sidebar-link"><i
                                    class="mdi mdi-shopping"></i><span class="hide-menu"> Stock Take </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('yesterdayStockReport') }}" class="sidebar-link"><i
                                    class="mdi mdi-calendar"></i><span class="hide-menu"> Stock Report </span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                            class="hide-menu">Customers</span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ url_for('customers') }}" class="sidebar-link"><i
                                    class="mdi mdi-account-multiple-plus"></i><span class="hide-menu"> My Customers
                                </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('customerBills') }}" class="sidebar-link"><i
                                    class="mdi mdi-cash-multiple"></i><span class="hide-menu"> Customer Bills
                                </span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('expenses') }}"
                        aria-expanded="false"><i class="mdi mdi-gas-station"></i><span
                            class="hide-menu">Expenses</span></a>
                </li>
                {% endif %}
                {% if current_user.user_level.id in [0, 1, 2] %}
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="mdi mdi-file-multiple"></i><span
                            class="hide-menu">Inventory</span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ url_for('inventoryProductsCategories') }}" class="sidebar-link"><i
                                    class="mdi mdi-cart"></i><span class="hide-menu"> Product Categories </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('inventoryProducts') }}" class="sidebar-link"><i
                                    class="mdi mdi-shopping"></i><span class="hide-menu"> Products Price List
                                </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('inventoryStockAdjustment') }}" class="sidebar-link"><i
                                    class="mdi mdi-calendar"></i><span class="hide-menu"> Stock Adjustment </span></a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.user_level.id in [0, 1, 4] %}
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="mdi mdi-book-open-page-variant"></i><span
                            class="hide-menu">Reports </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ url_for('salesReport') }}" class="sidebar-link"><i class="mdi mdi-office"></i><span
                                    class="hide-menu"> Sales Report </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('billsReport') }}" class="sidebar-link"><i class="mdi mdi-table-edit"></i><span
                                    class="hide-menu"> Bills Report </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('purchasesReport') }}" class="sidebar-link"><i class="mdi mdi-truck-delivery"></i><span
                                    class="hide-menu"> Purchases Report </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('stockReport') }}" class="sidebar-link"><i class="mdi mdi-minecraft"></i><span
                                    class="hide-menu"> Stock Report </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('expensesReport') }}" class="sidebar-link"><i class="mdi mdi-gas-station"></i><span
                                    class="hide-menu"> Expenses Report </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('profitReport') }}" class="sidebar-link"><i
                                    class="mdi mdi-cash-multiple"></i><span class="hide-menu"> Profit & Loss Report
                                </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('statementOfAccount') }}" class="sidebar-link"><i class="mdi mdi-book-multiple"></i><span
                                    class="hide-menu"> Statement of Account </span></a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.user_level.id in [0, 1, 2, 4] %}
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Settings
                        </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        {% if current_user.user_level.id in [0] %}
                        <li class="sidebar-item">
                            <a href="{{ url_for('companies') }}" class="sidebar-link"><i class="mdi mdi-truck-delivery"></i><span
                                    class="hide-menu"> Companies </span></a>
                        </li>
                        {% endif %}
                        <li class="sidebar-item">
                            <a href="{{ url_for('myShops') }}" class="sidebar-link"><i class="mdi mdi-gift"></i><span
                                    class="hide-menu"> My Shops </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{{ url_for('systemUsers') }}" class="sidebar-link"><i
                                    class="mdi mdi-account-multiple"></i><span class="hide-menu"> System Users
                                </span></a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('accountProfile') }}"
                        aria-expanded="false"><i class="mdi mdi-account-edit"></i><span class="hide-menu">My Account
                            Profile</span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('ourPackages') }}" 
                        aria-expanded="false"><i class="mdi mdi-cube-outline"></i><span class="hide-menu">Our
                            Packages</span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('download') }}" 
                        aria-expanded="false"><i class="mdi mdi-minecraft"></i><span class="hide-menu">
                            Download App</span></a>
                </li>
                <!-- <li class="sidebar-item">
                    <a href="change-log" class="sidebar-link"><i class="mdi mdi-update"></i><span
                            class="hide-menu">Change Log</span></a>
                </li> -->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('logout') }}"
                        aria-expanded="false" onclick="localStorage.clear();"><i class="mdi mdi-logout"></i><span
                            class="hide-menu">Logout</span></a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->