<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="matrix, pos, admin dashboard, inventory dashboard, web dashboard" />
    <meta name="description"
        content="Matrix POS System is light, powerful and clean admin dashboard for inventory management" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Dennis Muga - Tipspesa Systems" />
    <title>Matrix POS</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">

    {% include 'css.html' %}
    {% include 'js.html' %}
</head>