<!-- All Jquery -->
<script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='libs/perfect-scrollbar/perfect-scrollbar.jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='extra-libs/sparkline/sparkline.js') }}"></script>
<!--Wave Effects -->
<script src="{{ url_for('static', filename='js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
<!-- Toastr -->
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
<!-- Datatables js Files -->
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>