<!-- All Jquery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/perfect-scrollbar/perfect-scrollbar.jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--Wave Effects -->
<script src="{{ url_for('static', filename='js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
<!-- Toastr -->
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>