<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="matrix, pos, admin dashboard, inventory dashboard, web dashboard" />
    <meta name="description"
        content="Matrix POS System is light, powerful and clean admin dashboard for inventory management" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Dennis Muga - Tipspesa Systems" />
    <title>Matrix POS</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" id="bootstrap-css" href="{{ url_for('static', filename='css/bootstrap-4.1.1.min.css') }}">
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Data Tables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css"
        rel="stylesheet" />
    <style>
        table {
            width: 100%;
        }

        table,
        tr,
        th,
        td {
            font-size: small;
            color: white;
            height: auto;
        }

        .verticalTableHeader {
            text-align: center;
            white-space: nowrap;
            transform-origin: 50% 50%;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);

        }

        .verticalTableHeader:before {
            content: '';
            padding-top: 110%;
            /* takes width as reference, + 10% for faking some extra padding */
            display: inline-block;
            vertical-align: middle;
        }

        input {
            height: 90%;
            width: 100%;
            color: black;
            background-color: white;
        }

        .table-responsive {
            background-color: #20242c;
        }

        s {
            color: red;
        }

        .page-wrapper {
            margin-top: 48px;
        }

        .left-sidebar {
            position: fixed;
            overflow-y: scroll;
            top: 0;
            bottom: 0;
        }
    </style>
    <!------ Include the above in your HEAD tag ---------->
</head>


<body class="bg-dark">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="
            auth-wrapper
            d-flex
            no-block
            justify-content-center
            align-items-center
            bg-dark
            ">
        <div class="auth-box bg-dark border-top border-secondary">
            <div id="loginform">
                <div class="text-center pt-3 pb-3 text-white border-bottom border-secondary">
                    <b class="logo-icon ps-2">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="homepage" class="light-logo"
                            width="25" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text ms-2">Matrix <sup>POS</sup></span><br />
                    <small>User Login</small>
                    <!--End Logo icon -->
                </div>
                <!-- Form -->
                <form class="form-horizontal mt-3" id="loginform" name="loginform" method="POST">
                    <div class="row pb-4">
                        <div class="col-12">
                            {% if error %}
                            <p style="color: red; font-size: smaller">{{ error }}</p>
                            {% endif %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white h-100" id="basic-addon1"><i
                                            class="mdi mdi-account fs-4"></i></span>
                                </div>
                                <input name="phone" id="phone" type="number" class="form-control form-control-lg"
                                    placeholder="PhoneNumber" aria-label="Phone" aria-describedby="basic-addon1"
                                    required="required" min="100000000" max="799999999" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white h-100" id="basic-addon2"><i
                                            class="mdi mdi-lock fs-4"></i></span>
                                </div>
                                <input name="password" id="password" type="password" class="form-control form-control-lg"
                                    placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"
                                    required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="row border-top border-secondary">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="pt-3">
                                    <button class="btn btn-success float-end text-white btn-block" type="submit"
                                        name="action" id="action" value="login">
                                        Login to my Shop
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12">
                    <a class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#newModal" href="#">
                        Register New Company
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->

    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" class="form-horizontal" id="new_frm">
                    <div class="modal-header text-center">
                        <h5 class="text-center">Add New Company</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input required="required" type="text" name="company_name" id="company_name"
                                    class="form-control input-sm" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input required="required" type="text" name="shop_name" id="shop_name"
                                    class="form-control input-sm" placeholder="Enter Shop/Branch Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input required="required" type="text" name="shop_location" id="shop_location"
                                    class="form-control input-sm" placeholder="Enter Shop/Branch Location">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <select required="required" name="shop_type_id" id="shop_type_id"
                                    class="form-control input-sm">
                                    <option>Select Shop Type</option>
                                    {% for shop_type in shop_types %}
                                    <option value="{{ shop_type.id }}">{{ shop_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input required="required" type="text" name="user_name" id="use_rname"
                                    class="form-control input-sm" placeholder="Enter Your Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input required="required" type="number" name="user_phone" id="user_phone" min="100000000"
                                    max="999999999" class="form-control input-sm" placeholder="Enter Your Phone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input required="required" type="password" name="user_password" id="user_password"
                                    class="form-control input-sm" placeholder="Create a Password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" id="action" name="action" value="register"
                            class="btn btn-success">Save Company</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <style>
        .footer1 {
            overflow: hidden;
            position: fixed;
            /* Set the footer to fixed position */
            bottom: 0;
            /* Position the footer at the bottom of the page */
            width: 100%;
            /* Full width */
            height: 16px;
            font-size: smaller;
            background-color: #20242c;
            color: whitesmoke;
        }
    </style>
    <footer class="footer1 text-center">Matrix POS <sub>v4.0.0</sub>
        <a href="https://wa.me/254105565532" title="Whatsapp +254 105 565532">TipsPesa Systems - 0105 565 532</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

    <!-- All Jquery -->
    <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='extra-libs/sparkline/sparkline.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
    <!-- Toastr -->
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <!-- Datatables js Files -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>


    <script>
        $("#phone").val(localStorage.getItem('matrix_stockapp_phone'));
        // $("#pwd").val(localStorage.getItem('matrix_stockapp_pwd'));

        if ($toastr_message)
            toastr.success($toastr_message);
        if ($toastr_err_message)
            toastr.error($toastr_err_message);
        $("#new_frm").submit(function () {
            $("#submit_add_item").html('Spinning up Your new Company');
            $("#submit_add_item").prop('disabled', true);
        });

        $("#loginform").submit(function () {
            localStorage.setItem('matrix_stockapp_phone', $("#phone").val());
            // localStorage.setItem('matrix_stockapp_pwd', $("#pwd").val());
        });
    </script>
</body>

</html>