<!-- Line Chart3 -->
{% if current_user.user_level.id in [0, 1, 4] %}
<div class="row">
    <div class="col-12 mt-3">
        <div class="bg-dark p-10 text-white text-center">
            <canvas id="myChart3" style="width:100%;"></canvas>
        </div>
    </div>
</div>
{% endif %}
<!-- End Line Chart3 -->

<script>
    new Chart("myChart3", {
                type: "line",
                data: {
                    labels: [{{ dates_2 | join(',') | safe }}],
                    datasets: [{
                            data: [{{ stocks_2 | join(',') | safe }}],
                            borderColor: "blue",
                            fill: false,
                            label: 'Stock'
                        }]
                },
                options: {
                    legend: {
                        display: true
                    },
                    title: {
                        display: true,
                        text: "Monthly Stock Trend"
                    }
                }
            });
</script>