<!-- Line Chart -->
<div class="row">
    <div class="col-12 mt-3">
        <div class="bg-dark p-10 text-white text-center">
            <canvas id="myChart" style="width:100%;"></canvas>
        </div>
    </div>
</div>
<!-- End Line Charts -->

<script>
    new Chart("myChart", {
                type: "line",
                data: {
                    labels: [{{ dates | join(',') | safe }}],
                    datasets: [{
                            data: [{{ expenses_all | join(',') | safe }}],
                            borderColor: "red",
                            fill: false,
                            label: 'Expenses'
                        }, {
                            data: [{{ sales_all | join(',') | safe }}],
                            borderColor: "green",
                            fill: false,
                            label: 'Sales'
                        }]
                },
                options: {
                    legend: {
                        display: true
                    },
                    title: {
                        display: true,
                        text: "Monthly Sales vs Expenses Trend"
                    }
                }
            });
</script>