<!-- Stock investment -->
<?php if (in_array($_SESSION['stock_app_inventory_logged_user']->user_level, [0, 1, 4])) { ?>
<div class="row">
    <a class="col-4 mt-3" href="reports-statement">
        <div class="bg-dark p-10 text-white text-center">
            <i class="mdi mdi-cash-multiple fs-3 mb-1 font-16"></i>
            <h5 class="mb-0 mt-1">
                <?php
                                            $payments = $_SESSION['stock_app_inventory_logged_user']->shop_id . '_stock';
                                            $sql = 'SELECT 
              SUM((COALESCE(s.`opening`,0)+COALESCE(s.`additions`,0))*s.`purchase_price`),
              SUM((COALESCE(s.`opening`,0)+COALESCE(s.`additions`,0))*s.`selling_price`)
              FROM `' . $payments . '` s
              WHERE s.`date`=DATE_ADD(?, INTERVAL 1 DAY)';
    
                                            if ($stmt = $mysqli->prepare($sql)) {
                                                $stmt->bind_param("s", $to);
                                                $stmt->execute();
                                                $stmt->bind_result($total_investment, $total_capital);
                                                while ($stmt->fetch()) {
                                                    echo number_format($total_capital);
                                                }
                                                $stmt->close();
                                            }
                                            ?>
            </h5>
            <small class="font-light">Total Stock<br />Amount</small>
        </div>
    </a>

    <a class="col-4 mt-3" href="reports-statement">
        <div class="bg-dark p-10 text-white text-center">
            <i class="mdi mdi-buffer fs-3 mb-1 font-16"></i>
            <h5 class="mb-0 mt-1">
                <?php echo number_format($total_investment); ?>
            </h5>
            <small class="font-light">Total Capital<br />Invested</small>
        </div>
    </a>



    <a class="col-4 mt-3" href="customers-bills">
        <div class="bg-dark p-10 text-white text-center">
            <i class="mdi mdi-table fs-3 mb-1 font-16"></i>
            <h5 class="mb-0 mt-1">
                <?php
                                            $payments = $_SESSION['stock_app_inventory_logged_user']->shop_id . '_debts';
                                            $sql = 'SELECT SUM(`amount`-`paid`) debts
              FROM `' . $payments . '`
              WHERE MONTH(`date`) = MONTH(?) AND YEAR(`date`) = YEAR(?)';
    
                                            if ($stmt = $mysqli->prepare($sql)) {
                                                $stmt->bind_param("ss", $to, $to);
                                                $stmt->execute();
                                                $stmt->bind_result($bills);
                                                while ($stmt->fetch()) {
                                                    echo number_format($bills);
                                                }
                                                $stmt->close();
                                            }
                                            ?>
            </h5>
            <small class="font-light">Unpaid Bills<br />This Month</small>
        </div>
    </a>
</div>
<?php } ?>
<!-- Stock investment -->