name: daily stock loader

on:
  schedule:
    - cron: '0 0 * * *'  # This runs the job every day at midnight UTC = 3am EAT

  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      # checkout the repository content to github runner
      - name: checkout repo content
        uses: actions/checkout@v2 
      
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # execute daily stock loader script i.e run daily_stock_loader.py
      - name: execute daily stock loader script 
        env:
            DATABASE_URL: ${{ secrets.DATABASE_URL_PRIMARY }} 
        run: python daily_stock_loader.py
      