name: hourly db backup

on:
  schedule:
    - cron: '0 * * * *'  # This runs the job every hour
    
  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:          
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install postgresql-client-16 -y
      
      - name: dump
        env:
            DATABASE_URL_PRIMARY: ${{ secrets.DATABASE_URL_PRIMARY }} 
        run: pg_dump "$DATABASE_URL_PRIMARY" --clean --if-exists --quote-all-identifiers --no-owner --no-privileges > dump.sql
      
      - name: restore
        env:
            DATABASE_URL_SECONDARY: ${{ secrets.DATABASE_URL_SECONDARY }} 
        run: psql -d "$DATABASE_URL_SECONDARY" -f dump.sql

      