name: hourly db backup

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:          
      - name: Install PostgreSQL client
        uses: tj-actions/install-postgresql@v3
        with:
          postgresql-version: 17

      - name: dump
        env:
            DATABASE_URL_PRIMARY: ${{ secrets.DATABASE_URL_PRIMARY }} 
        run: pg_dump "$DATABASE_URL_PRIMARY" --schema=public --clean --if-exists --quote-all-identifiers --no-owner --no-privileges -Fc > dump.custom

      - name: restore
        env:
            DATABASE_URL_SECONDARY: ${{ secrets.DATABASE_URL_SECONDARY }} 
        run: pg_restore -d "$DATABASE_URL_SECONDARY" --clean --if-exists --no-owner --no-privileges dump.custom